<!DOCTYPE html>

@* Part:28 *@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @* Part: 34 *@
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @* Part: 29 *@
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
